<footer id="fh5co-footer">
    
    <div class="container">
        <div class="row row-padded">
            <div class="col-md-12 text-center">
                <p class="fh5co-social-icons">
                    <a href="#"><i class="icon-twitter"></i></a>
                    <a href="#"><i class="icon-facebook"></i></a>
                    <a href="#"><i class="icon-instagram"></i></a>
                    <a href="#"><i class="icon-dribbble"></i></a>
                    <a href="#"><i class="icon-youtube"></i></a>
                </p>
                <p><small>&copy; ImageX Company. All Rights Reserved. <br>Designed by: <a href="" target="_blank">DUCK</a> | Images by: <a href="" target="_blank">DUCK</a> </small></p>
            </div>
        </div>
    </div>
</footer>


<!-- jQuery -->
<script src="/static/js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="/static/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="/static/js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="/static/js/jquery.waypoints.min.js"></script>
<!-- Magnific Popup -->
<script src="/static/js/jquery.magnific-popup.min.js"></script>
<!-- Salvattore -->
<script src="/static/js/salvattore.min.js"></script>
<!-- Main JS -->
<script src="/static/js/main.js"></script>

<script>
	function sortByOptions(event){
		var compareFunc;
		var opt = event.target.options[event.target.selectedIndex].value
		console.log( opt )
		if(opt == "time"){
			compareFunc = function(a,b){
				var a_str = a.dataset.upload;
				var b_str = b.dataset.upload;
				return b_str.localeCompare( a_str );
			}
		}else if(opt == "popularity"){
			compareFunc = function(a,b){
				var pop_a = (parseInt(a.dataset.like) + parseInt(a.dataset.download));
				var pop_b = (parseInt(b.dataset.like) + parseInt(b.dataset.download));
				return pop_b - pop_a;
			}
		}else{
			return 0;
		}

		var all_items = document.getElementsByClassName('item')
		var all_parent = document.getElementsByClassName('column')
		
		/*
		for (var i=0;i<4;i++){
			console.log(all_parent[i])
		}
		*/

		if (all_items.length <= 4){
			var parent = all_items[0].parentNode
			parent.style.display="-webkit-inline-box"
			all_items = Array.prototype.slice.call( all_items )
			all_items.sort( compareFunc )

			for( var i=all_items.length-1;i>=0;i-- ){
				parent.insertBefore( all_items[i], parent.firstChild )
			}

		}else{
			all_items = Array.prototype.slice.call( all_items )
			all_items.sort( compareFunc )
			for( var i=0;i<all_items.length;i++ ){
				// console.log(all_items[i])
				var res=i%4
				// console.log(all_parent[res])
				all_parent[res].appendChild( all_items[i] )
			}
		}
	}

	function add_download(event){
		x=event.target;
		img=x.dataset.imgid;
		let elem = x.parentElement.parentElement.children[1];
		elem.textContent=parseInt(elem.textContent)+1;

		let data_elem = x.parentElement.parentElement.parentElement.parentElement.parentElement.parentElement;		
		data_elem.dataset.download = parseInt( data_elem.dataset.download ) + 1;
	}

	$(".search_cate").click(function(e){
		var search_url = '/image/search?searchstring=' + e.target.innerHTML
		window.location.href = search_url
	});

	function add_likes(event){
		x=event.target;
		img=x.dataset.imgid;
		let elem = x.parentElement.children[1];
		elem.textContent=(parseInt(elem.textContent)+1);

		let data_elem = x.parentElement.parentElement.parentElement.parentElement.parentElement;
		data_elem.dataset.like = parseInt( data_elem.dataset.like ) + 1;

		$.get('/api/updatelike/'+img, function(){
		});
	}

	function delete_image_confirm(event){
		if (confirm('Are you sure you want to delete this image?')) {
			let url = "/image/delete/data/" + event.target.dataset.imgid;
			window.location = url;
		}
	}

</script>

