<div class="item" data-upload="{{img.uploadedTime}}" data-like="{{img.likes}}" data-download="{{img.download}}" style="height: 380px">
	<div class="animate-box">
		<a href="/static/media/{{img.imagefile}}" class="image-popup fh5co-board-img" title={{img.description}}>
			<img src="/static/media/{{img.imagefile}}" alt="" style="height: 180px">
		</a>
	</div>

	<div class="fh5co-desc">
		<p>
			{% if img.title %}
				<strong> {{img.title}} </strong>
			{% endif %}

			<span class="icon_span" >
				{% if user.is_authenticated %}
					{% if user.username == img.uploader.username %}
						<strong>
							<img src="/static/images/heart.png" onclick="" data-imgid={{img.id}}>
							&nbsp<span>{{img.likes}}</span>&nbsp
						</strong>
					{% else %}
						<strong>
							<img src="/static/images/heart.png" onclick="add_likes(event)" data-imgid={{img.id}}>
							&nbsp<span>{{img.likes}}</span>&nbsp
						</strong>
					{% endif %}
				{% else %}
					<strong>
						<img src="/static/images/heart.png" onclick="" data-imgid={{img.id}}>
						&nbsp<span>{{img.likes}}</span>&nbsp
					</strong>
				{% endif %}


				&nbsp&nbsp&nbsp 
				<strong>
					<a href="/image/download/data/{{img.id}}" style="text-decoration: none" download>
						<img src="/static/images/download.png" onclick="add_download(event)" data-imgid={{img.id}} style="">
					</a>
					&nbsp<span>{{img.download}}</span>&nbsp
				</strong>
				
				{% if my_own_pic %}
					<strong>
						<a style="text-decoration: none">
							<img src="/static/images/delete.png" onclick="delete_image_confirm(event)" data-imgid={{img.id}}>
						</a>
					</strong>
				{% endif %}
			</span>
			

			<!-- </br> Description... -->
			</br> 
			<strong style="display: inline-flex;"> 
				Photographer: &nbsp <a href="profile/view/{{img.uploader.id}}" style="text-decoration: none">{{img.uploader}}</a>
			</strong>

			{% if img.category %}
				</br> <strong> Category: </strong> {{img.category}} 
			{% endif %}
			{% if img.tags %}
				</br> <strong> Tags:  </strong> {{img.tags}} 
			{% endif %}

			{% if img.description %}
				</br> <strong> Description: </strong> {{img.description}}
			{% endif %}
		</p>
	</div>
</div>

