
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>ImageX</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

  <!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FREEHTML5.CO
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<!-- Google Webfonts -->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="/static/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/static/css/icomoon.css">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="/static/css/magnific-popup.css">
	<!-- Salvattore -->
	<link rel="stylesheet" href="/static/css/salvattore.css">
	<!-- Theme Style -->
	<link rel="stylesheet" href="/static/css/style.css">
	<!-- Modernizr JS -->
	<script src="/static/js/modernizr-2.6.2.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
	
	<div id="fh5co-offcanvass">
		<a href="#" class="fh5co-offcanvass-close js-fh5co-offcanvass-close">Menu <i class="icon-cross"></i> </a>
		<h1 class="fh5co-logo"><a class="navbar-brand" href="index.html">imageX</a></h1>
		<ul>
			<li class="active"><a href="#">Home</a></li>
			<li><a href="/home">About</a></li>
			{% if user.is_authenticated %}
				<li><a href="/my_profile">My Profile</a></li>
				<li><a href="/image/self">My Image</a></li>
				<li><a href="/signout">Log Out</a></li>
			{% else %}
				<li><a href="/signin">Sign In</a></li>
				<li><a href="/signup">Sign Up</a></li>
			{% endif %}
			
		</ul>
		<h3 class="fh5co-lead">Connect with us</h3>
		<p class="fh5co-social-icons">
			<a href="#"><i class="icon-twitter"></i></a>
			<a href="#"><i class="icon-facebook"></i></a>
			<a href="#"><i class="icon-instagram"></i></a>
			<a href="#"><i class="icon-dribbble"></i></a>
			<a href="#"><i class="icon-youtube"></i></a>
		</p>
	</div>
	<header id="fh5co-header" role="banner">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<a href="#" class="fh5co-menu-btn js-fh5co-menu-btn">Menu <i class="icon-menu"></i></a>
					<a class="navbar-brand" href="index.html" style="font-size: 40px" >imageX</a>		
				</div>
			</div>
		</div>
	</header>
	<!-- END .header -->

	<div id="fh5co-main">
		<div class="container">
			<nav class="navbar navbar-light bg-light" >
  				<form class="form-inline">
    				<button class="btn btn-outline-success" type="button">Abstract</button>
    				<button class="btn btn-outline-success" type="button">Aerial</button>
    				<button class="btn btn-outline-success" type="button">Animals</button>
    				<button class="btn btn-outline-success" type="button">Architecture</button>
    				<button class="btn btn-outline-success" type="button">Black and White</button>
    				<button class="btn btn-outline-success" type="button">Family</button>
    				<button class="btn btn-outline-success" type="button">Fashion</button>
    				<button class="btn btn-outline-success" type="button">Fine Art</button>
    				<button class="btn btn-outline-success" type="button">Journalism</button>
    				<button class="btn btn-outline-success" type="button">Landscape</button>
    				<button class="btn btn-outline-success" type="button">Macro</button>
    				<button class="btn btn-outline-success" type="button">Nature</button>
    				<button class="btn btn-outline-success" type="button">Night</button>
    				<button class="btn btn-outline-success" type="button">People</button>
    				<button class="btn btn-outline-success" type="button">Performing Arts</button>
    				<button class="btn btn-outline-success" type="button">Sport</button>
    				<button class="btn btn-outline-success" type="button">Still Life</button>
    				<button class="btn btn-outline-success" type="button">Street</button>
    				<button class="btn btn-outline-success" type="button">Travel</button>
  				</form>
			</nav>
			<div style="display: flex">
				<form id="search_bar" action="/image/search" method="GET">
					<input class="search" type="text" size=30 id="search" name="searchstring" placeholder="  Keywords...">
					<input type="image" src="/static/images/image_ic_search.png" alt="" style=" width:25px; height:25px; position: relative; top : 6px">
				</form>
				<select style="margin-left: 61%">
					<option value="time">Sort by Most Recent</option>
					<option value="popularity">Sort by Popularity</option>
				</select>
			</div>

			<div class="row">
				<div id="fh5co-board" data-columns>
					{% for img in images %}
						<div class="item">
							<div class="animate-box">
								<a href="/static/media/{{img.imagefile}}" class="image-popup fh5co-board-img" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, eos?">
									<img src="/static/media/{{img.imagefile}}" alt="">
								</a>
							</div>
							<div class="fh5co-desc">
								<img src="/static/image/heart.jpg">
								<p><strong onclick="counter({{img.id}})">Like: 

									<span>{{img.likes}} </span>
									&nbsp&nbsp&nbsp Download: {{img.download}}</strong>
									</br> Photographer: {{img.uploader}}
									<!-- </br> Description... -->
									</br> <strong> #{{img.tags}} </strong>
								</p>
							</div>

						</div>
					{% endfor %}

					<div class="item">
						<div class="animate-box">
							<a href="/static/images/img_1.jpg" class="image-popup fh5co-board-img" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, eos?"><img src="/static/images/img_1.jpg" alt="Free HTML5 Bootstrap template"></a>
						</div>
						<div class="fh5co-desc">
							<p><strong>Like: 159 &nbsp&nbsp&nbsp Download: 248</strong>
								</br> Photographer:
								</br> Description...
								</br> <strong> #tag #tag </strong>
							</p>
						</div>

					</div>
					<div class="item">
						<div class="animate-box">
							<a href="/static/images/img_1.jpg" class="image-popup fh5co-board-img"><img src="/static/images/img_1.jpg" alt="Free HTML5 Bootstrap template"></a>
							<div class="fh5co-desc">
								<p><strong>Like: 133&nbsp&nbsp&nbsp Download: 122</strong>
								</br> Photographer:
								</br> Description...
								</br> <strong> #tag #tag </strong>
							</p>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="animate-box">
							<a href="/static/images/img_3.jpg" class="image-popup fh5co-board-img"><img src="/static/images/img_3.jpg" alt="Free HTML5 Bootstrap template"></a>
							<div class="fh5co-desc">
								<p><strong>Like: 345&nbsp Download: 987</strong>
								</br> Photographer:
								</br> Description...
								</br> <strong> #tag #tag </strong>
							</p>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="animate-box">
							<a href="/static/images/img_4.jpg" class="image-popup fh5co-board-img"><img src="/static/images/img_4.jpg" alt="Free HTML5 Bootstrap template"></a>
							<div class="fh5co-desc">
								<p><strong>Like: 12&nbsp&nbsp&nbsp Download: 5</strong>
								</br> Photographer:
								</br> Description...
								</br> <strong> #tag #tag </strong>
							</p>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="animate-box">
							<a href="/static/images/img_5.jpg" class="image-popup fh5co-board-img"><img src="/static/images/img_5.jpg" alt="Free HTML5 Bootstrap template"></a>
							<div class="fh5co-desc">
								<p><strong>Like: 112&nbsp&nbsp&nbsp Download: 34</strong>
								</br> Photographer:
								</br> Description...
								</br> <strong> #tag #tag </strong>
								</p>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="animate-box">
							<a href="/static/images/img_6.jpg" class="image-popup fh5co-board-img"><img src="/static/images/img_6.jpg" alt="Free HTML5 Bootstrap template"></a>
							<div class="fh5co-desc">
								<p><strong>Like: 122&nbsp&nbsp&nbsp Download: 31</strong>
								</br> Photographer:
								</br> Description...
								</br> <strong> #tag #tag </strong>
								</p>
							</div>
						</div>
					</div>

					<!-- <div class="item"> -->
						<!-- <div class="animate-box"> -->
							<!-- <a href="/static/images/img_9.jpg" class="image-popup fh5co-board-img"><img src="/static/images/img_9.jpg" alt="Free HTML5 Bootstrap template"></a> -->
							<!-- <div class="fh5co-desc"> -->
								<!-- <p><strong>Like: 122&nbsp&nbsp&nbsp Download: 31</strong> -->
								<!-- </br> Photographer: -->
								<!-- </br> Description... -->
								<!-- </br> <strong> #tag #tag </strong> -->
								<!-- </p> -->
							<!-- </div> -->
						<!-- </div> -->
					<!-- </div> -->

				</div>
			</div>
		</div>
	</div>

	<script>
		var search_cate = function(){

		}


		function counter(img){
			$(this).hide();
			var $self = this.find('span');
			console.log($(self).text());
			console.log($(this).find("span").text());
			$.get('/api/updatelike/'+img, function(){
				console.log("ajax sent");
				$(self).children('span').text(parseInt($(self).children('span').text())+1);
			});
		}
	</script>
	
    {% include "./footer.html" %}

    </body>
</html>
