<div id="fh5co-offcanvass">
    <a href="#" class="fh5co-offcanvass-close js-fh5co-offcanvass-close">Menu <i class="icon-cross"></i> </a>
    <h1 class="fh5co-logo"><a class="navbar-brand" href="/">imageX</a></h1>
    <ul>
        <li><a href="/">Home</a></li>
        {% if user.is_authenticated %}
            <li><a href="/my_profile">My Profile</a></li>
            <li><a href="/image/self">My Images</a></li>
            <li><a href="/image/upload/page/">Upload Image</a></li>
            <li><a href="/password/change/page/">Change Password</a></li>
            <li><a href="/signout">Log Out</a></li>
        {% else %}
            <li><a href="/signin">Sign In</a></li>
            <li><a href="/signup">Sign Up</a></li>
        {% endif %}
        
    </ul>
    <h3 class="fh5co-lead">Connect with us</h3>
    <p class="fh5co-social-icons">
        <a href="#"><i class="icon-twitter"></i></a>
        <a href="#"><i class="icon-facebook"></i></a>
        <a href="#"><i class="icon-instagram"></i></a>
        <a href="#"><i class="icon-dribbble"></i></a>
        <a href="#"><i class="icon-youtube"></i></a>
    </p>
</div>

<header id="fh5co-header" role="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="#" class="fh5co-menu-btn js-fh5co-menu-btn">Menu <i class="icon-menu"></i></a>
                <a class="navbar-brand" href="/" style="font-size: 40px" >imageX</a>		
            </div>
        </div>
    </div>
</header>
